body {
	line-height: 1.5;
    font-family: Roboto,Arial,'Nanum Gothic' , Malgun Gothic,AppleGothic,Dotum,sans-serif;
    color: #555;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

strong {
	font-weight: bold;
}

dl, ul, ol, li {
    list-style: none;
}

div.top-contents {
	width: 100%;
	height: 400px;
	margin: 0 auto;
}

div.top-text {
	margin-top: 30px;
	width: 100%;
	position: absolute;
}

div.top-text header {
	width: 100%;
	margin: 0 auto;
}

header #logo {
	float: left;
	text-align: center;
}

header #logo img {
	width: 250px;
	height: 100px;
	padding-left: 350px;
}

header nav {
	float: right;
	text-align: center;
	clear: both;
	width: 100%;
	border-top: 2px solid #000000;
	border-bottom: 1px solid #000000;
	padding-bottom: -30px;
}

header nav ul.menu {
	list-style-type: none;
	padding-left: 350px;
	line-height: 50px;
}

header nav ul.menu>li {
	float: left;
	width: 180px;
	height: 70px;
}

header nav ul.menu>li>a {
	text-decoration: none;
	color: #888888;
	font-size: 15px;
}

header nav ul.menu>li>a:hover {
	color: #555;
	font-weight: bold;
}

header nav ul.menu ul.sub {
	list-style-type: none;
	padding: 15px;
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	z-index: 99;
	overflow: auto;
	display: none;
	background-color: #ffffff;
	border: 1px solid #000000;
}

header nav ul.menu ul.sub li:hover {
	background-color: #555;
}

header nav ul.menu ul.sub a {
	text-decoration: none;
	color: #888888;
	font-size: 15px;
}

header nav ul.menu ul.sub a:hover {
	color: #fff;
}

 

div.middle-contents {
	margin-top: -200px;
	margin-left: 400px;
	margin-right: 400px;
	padding-top: 50px;
}

.location_wrap .location_cont {
	position: absolute;
	width: auto;
	right: 350px;	
}

.location_cont em {
	display: block;
    float: left;
    padding: 12px 0 10px 0;
    color: #777777;
    font-size: 11px;
	font-style: normal;
    font-weight: normal;
}

.location_select {
	display: inline-block;
	position: relative;
	margin: 7px 0 0 0;
}

.itemlist {
	position: relative;
}

.itemlist_title {
	position: relative;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	font-size: 14px;
}

.itemlist_title h2 {
	
}

.itemlist_category {
	margin: 0 0 40px 0;
	padding: 3px 0 3px 0;
	border: 0px solid #d8d8d8;
	border-top: 0px solid #999999;
	margin-top: -30px;
}

.itemlist_category ul {
	display: inline-block;
	width: 100%;
	padding: 0px;
}

.itemlist_category li {
	display: inline-block;
	width: 19%;
	height: 34px;
	line-height: 34px;
	background-color: #f9f9f9;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
}

.itemlist_category li:hover {
	background-color: #333;
}

.itemlist_category li a {
	color: #414141;
	padding-left: 10px;
}
.itemlist_category li a.bold {
	font-weight: bold;	
}

.itemlist_category li a:hover {
	color: #ffffff;
}

.goods_list .goods_list_num {
	padding: 0 0 10px 0;
	font-size: 14px;
}

.goods_list .goods_list_num strong {
	color: #e40000;
}

.goods_list .goods_list_box {
	height: 28px;
	padding: 10px 0 30px 0;
	border-top: 1px solid #999999;
    border-bottom: 1px solid #dbdbdb;
	clear: both;
}

.goods_list .goods_list_box ul {
	float: left;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.goods_list .goods_list_box li {
	float: left;
	list-style: none;
	padding-right: 15px;
	padding-bottom: 25px;
}

.goods_list .goods_list_box li a {
	cursor: pointer;
	color: #555;
	font-size: 14px;
}

.goods_list .goods_list_box li a:hover {
	color: #e40000;
}

.the_number {
	float: right;
	position: relative;
	margin-top: -45px;
}

.goods_no_data {
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 100px;
}

.goods_no_data strong {
	font-weight: normal;
	line-height: 150px;
}

div.bottom-contents {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	width: 100%;
	margin: 0 auto;
	clear: both;
}

div.bottom-contents > div {
	position: relative;
	float:left;
	display: inline-block;
	border-right: 1px solid #e9e9e9;
}

.bottom1 {
	margin-left: 250px;
}

.bottom1, .bottom2 {
	width: 375px;
	height: 250px;
	border-left: 1px solid #e9e9e9;
	padding: 0;
}

.tabwrap {
	width: 100%;
	height: 249px;
}

.tabwrap #panelsbo li {
	list-style: none;
}

.tabwrap #panelsbo a {
	display: inline-block;
	overflow: hidden;
	width: 95%;
	color: #717171;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
	font-size: 13px;
}

.tabwrap #panelsbo a:hover {
	text-decoration: underline;
}

ul.tabs {
	width: 100%;
	height: 50px;
	marin: 0 auto;
	list-style: none;
	overflow: hidden;
	padding: 0;
}

ul.tabs li a.active {
	height: 50px;
	background: none;
	color: #111;
	z-index: 4;
}

ul.tabs li a {
	text-align: center;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: #ccc;
}

a {
	text-decoration: none;
}

.bottom3, .bottom4 {
	width: 230px;
	height: 210px;
	padding: 20px 30px;
}

div.bottom3 h4 {
	font-size: 13px;
	color: #555;
	line-height: 35px;
	font-weight: 600;
	margin-bottom: 0;
}

div.bottom3 .num_big {
	font-size: 24px;
	line-height: 27px;
	color: #555;
	font-weight: 600;
}

div.bottom3 .num_medium {
	font-size: 17px;
	line-height: 23px;
	color: #555;
}

div.bottom3 .num_small {
	font-size: 11px;
	line-height: 18px;
	color: #999;
}

div.bottom4 h4 {
	font-size: 13px;
	color: #555;	
}

div.bottom4 .num_medium {
	font-size: 12px;
	line-height: 23px;
	color: #555;
	float: left;
	font-weight: 600;
}

div.bottom4 .num_big {
	font-size: 16px;
	line-height: 23px;
	color: #555;
	float: right;
	font-weight: 600;
}

div.bottom_contents2 {
	clear: both;
	border-top: 1px solid #e9e9e9; 
	border-bottom: 1px solid #e9e9e9; 
	width: 100%;
	margin: 0 auto;
	height: 60px;
}

.guide_contents {
	width: 950px;
	position: relative;
	margin: 0 auto;
}

.guide_contents .utilmenu li {
	float: left;
	padding-right: 40px;
	font-size: 14px;
	list-style: none;
}

.guide_contents .utilmenu li a {
	color: #777;
}

.bottom_contents3 {
	width: 100%;
	margin: 0 auto;
	height: 140px;
	padding: 20px 0;
}

.bottom_contents3 .guide_contents {
	color: #a9a9a9;
	font-size: 13px;
	line-height: 24px;
}

.foot_info {
	width: 100%;
}

.foot_info dl {
	float: left;
	margin: 0;
	padding: 0;
}

.foot_info dt {
	float: left;
	padding: 0;
	margin: 0;
}

.foot_info dd {
	float: left;
	padding: 0 15px 0 0;
	margin: 0;
}

.foot_info a {
	color: #333;
	text-decoration: none;
}

.guide_contents p {
	clear: both;
}

footer {
	position: relative;
	width: 100;
	height: 35px;
	font-size: 11px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: #343434;
	clear: both;
}
